@import "src/declerations";

.content {
  position: relative;
  flex-grow: 1;
  padding: $padding-normal;
  overflow: hidden;

  .mapContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}