@import "src/declerations";

.header {
  height: $header-height;
  padding: $padding-normal;
  background-color: rgba(0, 0, 55, 0.7);
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.7);
  color: #efefef;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
