@import "src/declerations";

.sidebar {
  width: 280px;
  padding: $padding-normal;
  background-color: #EFF7FA;
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.3);
  max-height: calc(100vh - #{$header-height});
  overflow-y: auto;
}
